<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv1SzDY-Ec-up26kTOZ_52JeJLPUwW8nw</string>
	<key>GCM_SENDER_ID</key>
	<string>73026918730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.arhaankhaku</string>
	<key>PROJECT_ID</key>
	<string>userscores-55f28</string>
	<key>STORAGE_BUCKET</key>
	<string>userscores-55f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73026918730:ios:2812061b6c2459730e09b3</string>
</dict>
</plist>